:root{
	--tr:transparent;
	--dk:rgba(180,180,180,0.5);
	--rd:#ff4035;
	--or:#ff8b35;
	--wt:white;
}

i{
	font-size: 40px;
	height: 40px;
	width:40px;
}



a{
	text-decoration: none;
	color:white;
}
a:hover{
	text-decoration: none;
	color:white;
}

.icons{
	font-size: 60px;
	text-align: center;
}

.social-footer {
  padding: 1rem;
  background: #1c192c;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.nv-st{
	background: rgba(30,30,30,0.7);
}

.Btn{
	border-radius: 10px;
	cursor: pointer;
}


.login-form{
	width :100%;
	max-width:330px;
	padding: 15px;
	margin:auto;
	height: 100% 
}


.Btn--dk--outline{
	background-color: var(--tr);
    border: 2px solid var(--or);
	color:var(--or);
}

.Btn--or--outline{
	background-color: var(--rd);
    border: 2px solid var(--wt);
	color:var(--wt);
}

.Btn--small{
	padding:  7px 20px;
	font-size:15px;
}